.articles{
    text-align: center;
    padding-top: 60px ;
}
.articles_title{
    font-size: 30px;
    text-align: center;
    color: #5333ed;
    border-bottom: 4px solid #e67e22 ;
    display: inline;
}
.articles_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;


    flex-wrap: wrap ;
}
.article{
    width: 25%;
    height: 200px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 20px;

}
.article_filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.2));
}
.article_name {
    color: #fff;
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 28px   ;
}
.article:hover .article_icon  {
    transform: translateY(0);
    transition: all ease-in-out 0.5s;
}
.article_icon{
    z-index: 1;
    position: absolute;
   display: flex;
    top: 0;left: 0;right: 0;
    justify-content: center ;
    align-items: center;
    font-size:  40px;
    color: #fff;
    height: 100%;
    transform: translateY(100%);
}

@media only screen and (max-width: 1100px){
    .articles_items{
        justify-content: center;

    }
    .article {
    width: 300px;

    }
}