* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: nunito;
}
#main{
      max-width: 100%;
      min-height: 100%;
      margin: 0 auto ;

      position: relative;
  }


.container{
    width: 90%;
    margin: auto;

    z-index: 999;
}
.btn{
    color: white;
    font-size: 18px;
    text-decoration: none ;
    background-color: #e67e22;
    border-radius: 20px;
    padding: 11px 16px;
    border: 2px solid #e67e22;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: #e67e22  ;
    background-color: transparent;
}