

.footer{
    display: block;
    bottom: 0;
    /*justify-content: center;*/
    margin-bottom: 5px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    /*position: fixed;*/
    position:   absolute;
    width: 100%;

    height: 200px;
}

.footer_texture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url("../img/img4.jpg") center no-repeat;
    background-size: cover;
    z-index: 10;
    opacity: 0.7;
}
.footer_text{
    color: blue;
}
.footer_mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

