
footer{
    display: block  ;
    /*flex-shrink: 0;*/
    /*border-top: 1px dashed #000000;
    border-top-left-radius:50px ;
    border-top-right-radius: 50px;*/
    font-size: 5px;

    width: 100%;
    padding: 30px 0 30px;
    color: #fff;

    position: relative;
    bottom: 0;

    /*height: auto;*/
    height: 350px;


}
.container_footer{
     width: 100%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
 }
.footer_texture{
    width: 100%;
   height: 100%;
    position: absolute;
    top: 0;
    left: 0; right: 0;
    bottom: 0;
     /*bottom: 0; left: 0;*/
    background: url("../img/mag_chaussures.jpg") center no-repeat;
    background-size: cover ;
    z-index: -1;
    opacity: 0.7;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}
img{
    width: 20px;
}

/*general footers items*/
.footer_services h3,
.footer_contact h3,
.footer_horaires h3,
.footer_medias h3{
    font-size: 25px;
    padding-bottom: 15px;
    color: #000;
}
.liste_services li,
.liste_horaires li,
.liste_medias li{
    list-style-type: none;
    position: relative;
    font-size: 20px;
    color: #000;
}

/* services*/
.liste_services li{
    padding: 2px 0;
    right:42px;
}
.liste_services a{
    text-decoration: none;
    color: #000;
}
.liste_services a:hover{
    color: blue;
    transition: all 1s;
}

/*contact*/
.footer_contact p
{
    padding: 2px 0;
    display: flex;
    align-items: center;
    color: #000;
}
.footer_contact p:hover{
    color: blue;
    transition: all 1s;
}
.footer_contact p img{
    margin-right: 5px;
}

/*horaires*/
.liste_horaires li{
    right: 42px;
    padding: 2px 0;
}
.liste_horaires li:hover{
    color: blue;
    transition: all 1s;
}

/*medias*/
.liste_medias li{ /*(position relative)*/
        right: 50px;
}
.liste_medias img{
    width: 40px;
    margin: 10px 10px;
}
.liste_medias a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #000;

}
.liste_medias a:hover{
    color: blue;
    transition: all 1s;
}

/*media queries*/
@media screen and (max-width: 1100px) {
    footer{
        height: 100%;
    }
    .container_footer    {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .footer_texture{
        /*width: 100%;*/
        height: 100%;
        bottom: 0;

    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 737px) {

    /*.footer{*/
    /*    left: 50px;*/
    /*    right: 0;*/
    /*    height: 1450px;*/
    /*}*/

    .container_footer{
        /*width: 320px;*/
        width: 450px;
        /*margin: 30px 30px;*/
        margin: 20px auto;
        /*display: block;*/
        /*!*text-align: left;*!*/
        /*justify-content: center;*/
        /*text-align: center;*/


    }
    .bloc{
        width: 300px;
        margin: 30px 30px;
        /*justify-content: center;*/
        text-align: justify;
        /*align-items: center;*/
    }

    h3 {
        margin: 0 auto;
        text-decoration: underline black;
    }
    .liste_services li ,
    .liste_horaires li,
    .liste_medias a,
    .liste_medias img{
         justify-content: flex-start;
    /*    text-align: center;*/
    /*    align-items: center;*/
    /*}*/
    }

    .footer_services a {
        justify-content: flex-start;
    }

    .footer_contact p{
        /*text-align: center;*/

    }

    .footer_horaires ul li{
        justify-content: flex-start;
    }

    .footer_texture{
        width: 100%;
        height: 100%;
        /*background-color: blue;
        background-image: none;*/
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 10px;
    }
    /*.bloc:nth-child(1){*/
    /*    margin-top: 0;*/
    /*}*/
}
