.form{
    width: 100%;

}
.form_title{
    text-align: center;
    font-size: 40px ;
    margin-top: 30px ;
    color: rgba(0,0,0,0.7);
    margin-bottom: 20px;
}
.form_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.form_line{
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
.form_block{
    width: 250px    ;
    margin: 0 15px;
}
.form_label{
    font-weight: 400;
    margin-bottom: 5px;
}
.form_input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #e67e22;
    outline: 0;
    transition: all 0.5s ease-in-out;
    padding-left: 10px;
    font-size: 16px;
    font-family: nunito;
    margin-bottom: 10px;
}
.form_input:focus{
    border-color: rgba(0,0,0,0.7)  ;
}
.form .btn{
    margin-top: 20px;
    cursor: pointer;
    /*border: none;*/
}

