.header{
    height: 450px;
    width: 100%;

    position: relative;
}

.header_texture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url("../img/carrefour.jpg") center no-repeat;
    background-size: cover;
    z-index: 10;
    opacity: 0.7;
}

.header_mask{
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header_navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.header_navbar--logo {
    color:#5333ed ;
    font-size: 40px;


}


.header_navbar--menu{

}

.header_navbar--menu-link{
    margin-left: 40px;
    color:  #fff;
    text-decoration: none;
}

.header_navbar--menu-link i{
    margin-left: 2px;
}

.header_slogan{
    text-align: center;

}

.header_slogan--title{
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'anton';
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 60px;
}

.header_slogan--btn{
    color: white;
    text-decoration: none ;
    background-color: #e67e22;
    border-radius: 20px;
    padding: 15px 20px;
}

.header_navbar-toggle{
    width: 40px;
    height: 60px ;
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}

.header_navbar-toggle-icons, .header_navbar-toggle-icons:before, .header_navbar-toggle-icons:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
}

.header_navbar-toggle-icons:before{top: 10px}
.header_navbar-toggle-icons:after{top: -14px}

/*quand le header_navbar-menu est ouvert -> il va se retranslater a 0*/
.is-open .header_navbar--menu{
    transform: translateY(0);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 0 20px;
    }

    .header_navbar-toggle {
        display: flex;
        z-index: 1000;
    }

    .header_navbar--menu {
        transition: all 0.3s ease-in-out;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: orange;
        top: 0;
        left: 0;
    }

    .header_navbar--menu-link {
        margin: 20px 0;
        font-size: 24px;
    }

    .header_slogan--title {
        font-size: 40px;
    }
}